.header {
  background-color: rgb(255, 213, 162);
  text-align: center;
  padding: 20px; 
}
.menu{
  float: left;
  background-color: rgb(191, 112, 17);
  color: white;
  text-align: center;
  font-size: 1.5em;
  width: 25%;
}
.main{
  height: 400px;
}
.footer{
  background-color: rgb(191, 112, 17);
  color: white;
  text-align: right;
  font-size: 1.5em
}
a{
  color: white;
}
button{
  background-color: brown;
  border: brown 2px;
  color: white;
  font-weight: bold;
  padding: 10px;
} 